{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/stewardStyle.css">
{% endblock %}

{% block title %}Intendance - {{ parent() }}{% endblock %}

{% block body %}
<section class="generalInfo">
    <div class="headerStewardship">
        <h2>Intendance</h2>
        <hr />
    </div>
    <ul class="listPresentationPart">
        <li>
            Vous souhaitez louer votre bien en toute sérénité, mais vous manquez de disponibilité, vous êtes
            éloigné de votre résidence ou vous avez juste envie de profiter de votre temps libre ?
        </li><br>
        <li>
            Vous désirez réaliser un investissement immobilier mais ne savez comment le rentabiliser, tout en le
            protégeant ?
        </li><br>
        <li>
            Vous êtes professionnel de l&#39;hébergement et vous souhaitez faire une pause dans votre activité ?
        </li><br>
        <li>
            wewelcome a pour mission de vous décharger de toute contrainte, et vous accompagne sur toutes
            les facettes de la location saisonnière.
        </li><br>
        <li>
            Nous gérons l’ensemble du processus ou seulement une partie, à temps complet ou sur certaines
            périodes, pour s’adapter aux besoins de chaque propriétaire.
        </li><br>
        <li>
            Les services proposés sont conçus pour assurer un service personnalisé de qualité, disponible et
            réactif. Nous garantissons également un suivi professionnel de chaque location pour une efficacité
            optimale.
        </li>
    </ul>
    <div class="left hiddenText" data-photos="{{ photos|json_encode }}">
        <h3 class="title">Services</h3>
        <div class="stewardDetails">
            {% set i = 0 %}
            {% for service in services %}
            <figure>
                <img id="picto{{ i }}" src="/assets/images/servicesImg/{{ service.logo }}">
                <figcaption>{{ service.title }}</figcaption>
                {% if app.user %}
                <button class="update"><a href="{{ path('service_edit', {'id': service.id, 'source': 'steward'}) }}">Modifier</a></button>
                <form method="post" action="{{ path('service_delete', {'id' : service.id}) }}" onsubmit="return confirm('{{ service.title }} sera supprimé définitivement. Êtes-vous sur ?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
                    <button class="btn">Effacer</button>
                </form>
                {% endif %}
                {% set i = i +1 %}
            </figure>
            {% endfor %}
        </div>
        {% if app.user %}
        {{ include ('/services/_form.html.twig', {'button_label': 'Ajouter'}) }}
        {% endif %}
        <h3 class="title">Formules</h3>
        <p><span class="green">A la carte</span></p>
        <button class="linkQuote button-contact" onclick="location.href='#contact';">Je souhaite plus d'information</button>
    </div>
    <div class="right">
        <div id="imgBackground" class="imgBackground">
            <div class="hidden">
                {% set j =0 %}
                {% for service in services %}
                    <p id="text{{ j }}" class="textPicto">{{ service.description|nl2br }}</p>
                    {% set j = j +1 %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="stewardTariffTaxation">
    <div class="tariffStewardPart">
        <h3 class="subTittle">Tarifs</h3>
        <p class="textTaxationTariff">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis
        </p>
        <img class="imgTaxationTariff" src="/assets/images/stewardship/tariffTaxationSteward.png">
    </div>
    <div class="taxationStewardPart">
        <h3 class="subTittle">Fiscalité</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis
        </p>
        <img class="imgTaxationTariff" src="/assets/images/stewardship/tariffTaxationSteward.png">
    </div>
</section>
<!--Formulaire de contact-->
    {% include 'home/_contact.html.twig' %}
{% endblock %}

{% block javascripts %}
<script src="/assets/js/services.js"></script>
{% endblock %}