{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/stewardStyle.css">
{% endblock %}

{% block title %}Intendance - {{ parent() }}{% endblock %}

{% block body %}
<section class="generalInfo">
    <div class="headerStewardship">
        <h2 class="h2-primary-color">Intendance</h2>
        <hr class="hr-primary-color">
    </div>
    <ul class="listPresentationPart">
        <li>
            Vous souhaitez louer votre bien en toute sérénité, mais vous manquez de disponibilité, vous êtes
            éloigné de votre résidence ou vous avez juste envie de profiter de votre temps libre ?
        </li><br>
        <li>
            Vous désirez réaliser un investissement immobilier mais ne savez comment le rentabiliser, tout en le
            protégeant ?
        </li><br>
        <li>
            Vous êtes professionnel de l&#39;hébergement et vous souhaitez faire une pause dans votre activité ?
        </li><br>
        <li>
            wewelcome a pour mission de vous décharger de toute contrainte, et vous accompagne sur toutes
            les facettes de la location saisonnière.
        </li><br>
        <li>
            Nous gérons l’ensemble du processus ou seulement une partie, à temps complet ou sur certaines
            périodes, pour s’adapter aux besoins de chaque propriétaire.
        </li><br>
        <li>
            Les services proposés sont conçus pour assurer un service personnalisé de qualité, disponible et
            réactif. Nous garantissons également un suivi professionnel de chaque location pour une efficacité
            optimale.
        </li>
    </ul>
    <div class="left hiddenText" data-photos="{{ photos|json_encode }}">
        <h3 class="title">Services</h3>
        <div class="stewardDetails">
            {% set i = 0 %}
            {% for service in services %}
            <figure>
                <img class="servicePicto" id="picto{{ i }}" src="/assets/images/servicesImg/{{ service.logo }}">
                <figcaption>{{ service.title }}</figcaption>
                {% if app.user %}
                <button class="update"><a href="{{ path('service_edit', {'id': service.id, 'source': 'steward'}) }}">Modifier</a></button>
                <form method="post" action="{{ path('service_delete', {'id' : service.id}) }}" onsubmit="return confirm('{{ service.title }} sera supprimé définitivement. Êtes-vous sur ?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
                    <button class="btn">Effacer</button>
                </form>
                {% endif %}
                {% set i = i +1 %}
            </figure>
            {% endfor %}
        </div>
        {% if app.user %}
        {{ include ('/services/_form.html.twig', {'button_label': 'Ajouter'}) }}
        {% endif %}
        <h3 class="title">Formules</h3>
        <p><span class="green">A la carte</span></p>
        <button class="linkQuote button-contact" onclick="location.href='#contact';">Je souhaite plus d'information</button>
    </div>
    <div class="right">
        <div id="imgBackground" class="imgBackground">
            <div class="hidden">
                {% set j =0 %}
                {% for service in services %}
                    <p id="text{{ j }}" class="textPicto">{{ service.description|nl2br }}</p>
                    {% set j = j +1 %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="stewardTariffTaxation">
    <div class="tariffStewardPart">
        <h3 class="subTittle">Tarifs</h3>
        <hr />
        <div class="textTaxationTariff gridTariffSteward">
            <figure class="blocTariff tariffOne">
                <img src="/assets/images/services/intendance/1-surveillance-reguliere.png">
                <figcaption class="textBold">Surveillance régulière</figcaption>
                <p>A partir de 30.00€/mois</p>
            </figure>
            <figure class="blocTariff tariffTwo">
                <img src="/assets/images/services/intendance/2-mise-en-route-et-veille.png">
                <figcaption class="textBold">Mise en route, mise en veille</figcaption>
                <p>A partir de 30.00€/prestation</p>
            </figure>
            <figure class="blocTariff tariffThree">
                <img src="/assets/images/services/intendance/3-entretien-menager-interieur-et-exterieur.png">
                <figcaption class="textBold">Entretien ménager</figcaption>
                <p>A partir de 30.00€/heure</p>
            </figure>
            <figure class="blocTariff tariffFour">
                <img src="/assets/images/services/intendance/4-entretien-du-jardin.png">
                <figcaption class="textBold">Entretien du jardin</figcaption>
                <p>Sur devis</p>
            </figure>
            <figure class="blocTariff tariffFive">
                <img src="/assets/images/services/intendance/5-entretien-de-la-piscine.png">
                <figcaption class="textBold">Entretien de la piscine et du Spa</figcaption>
                <p>Sur devis</p>
            </figure>
            <figure class="blocTariff tariffSix">
                <img src="/assets/images/services/intendance/6-courses.png">
                <figcaption class="textBold">Courses</figcaption>
                <p>A partir de 30.00€/prestation</p>
            </figure>
            <figure class="blocTariff tariffSeven">
                <img src="/assets/images/services/intendance/7-petits-travaux-de-reparation.png">
                <figcaption class="textBold">Petits travaux de réparation</figcaption>
                <p>A partir de 30.00€/prestation</p>
            </figure>
            <figure class="blocTariff tariffHeight">
                <img src="/assets/images/services/intendance/8-suivi-de-travaux.png">
                <figcaption class="textBold">Suivi de travaux</figcaption>
                <p>Sur devis</p>
            </figure>
            <figure class="blocTariff tariffNine">
                <img src="/assets/images/services/intendance/9-communication-et-assistance-7j-7.png">
                <figcaption class="textBold">Communication et assistance</figcaption>
                <p>Sur devis</p>
            </figure>
        </div>
        <ul class="textEndTariffSection">
            <li>Les tarifs sont indiqués sont bruts, c’est-à-dire avant réduction fiscale.</li><br>
            <li>Des frais de déplacement peuvent être facturés en fonction de l’éloignement avec la société wewelcome.</li><br>
            <li>Nos tarifs ne sont qu’indicatifs et chaque demande fera l’objet d’une étude et d’un devis personnalisés.</li><br>
            <li>Sans engagement sur la durée.</li><br>
            <li>Facturation mensuelle basée sur les prestations commandées par le propriétaire.</li>
        </ul>
    </div>
    <div class="taxationStewardPart">
        <h3 class="subTittle">Fiscalité</h3>
        <hr />
        <div class="gridTaxationPart">
            <div class="blocTariff taxationElementOne">
                <h4 class="needSpaceBelow">Agrément</h4>
                <p>
                    Grâce à l'agrément "services à la personne" délivré par la Préfecture, 
                    WeWelcome SAP vous fait bénéficier d'un crédit d'impôt ou d'une réduction 
                    d'impôts égal à 50% des sommes engagées dans l'utilisation de nos services 
                    à votre domicile (résidence principale ou secondaire).
                </p>
            </div>
            <div class="blocTariff taxationElementTwo">
                <h4 class="needSpaceBelow">Qui est concerné ?</h4>
                <p>
                    Tout particulier domicilié en France assujetti à l'impôt sur le revenu et 
                    ayant eu recours dans l'année à une société agréée des services à la personne 
                    sans condition de ressources, est concerné.<br>
                    Vous pouvez bénéficier d'un crédit d’impôt si vous engagez des dépenses au titre 
                    des services à la personne qui vous sont rendus à votre résidence principale ou 
                    secondaire située en France, que vous en soyez propriétaire ou non.<br>
                    Vous pouvez également y prétendre si vous avez engagé des dépenses à la résidence 
                    de l'un de vos ascendants remplissant les conditions pour bénéficier de l'Allocation 
                    Personnalisée d'Autonomie (APA).
                </p>
            </div>
            <div class="blocTariff taxationElementThree">
                <h4 class="needSpaceBelow">Si vous payez des impôts</h4>
                <p>
                    Vous bénéficiez d'une réduction d'impôt qui s'applique sur le montant de l'impôt 
                    restant dû et non sur l'assiette fiscale et qui s'élève à 50% des sommes investies 
                    au cours de l'année pour l'emploi d'une société agréée des services à la personne. 
                    Pour le cas particulier où le montant de votre imposition est inférieur à la somme 
                    à déduire, vous percevez un remboursement du complément (crédit d'impôt sous conditions particulières).
                </p>
            </div>
            <div class="blocTariff taxationElementFour">
                <h4 class="needSpaceBelow">Si vous ne payez pas d'impôts</h4>
                <p>
                    Le crédit d'impôts (soumis à condition) vous permettra de percevoir un remboursement 
                    (crédit d'impôt) s'élevant à 50% des sommes investies au cours de l'année pour 
                    l'emploi d'une société agréée de service à la personne.
                </p>
            </div>
            <div class="blocTariff taxationElementFive">
                <h4 class="needSpaceBelow">Le plafond fiscal</h4>
                <p>
                    L’avantage fiscal en crédit d’impôt sur le revenu (égal à 50 % des dépenses engagées) 
                    est limité à 12°000 € de dépense par an (loi de finances 2017) pour des prestations de services à la personne.
                </p><br>
                <p>
                    Des majorations du plafond annuel de dépenses (jusqu’à 20 000 € maximum) peuvent intervenir en fonction du nombre 
                    d’enfants à charge, de la présence d’enfants handicapés, d’ascendants vivant au domicile du déclarant… 
                    (article 199 sexdecies du code général des impôts).
                </p><br>
                <p>
                    Ce plafond est applicable pour toutes les activités de services à la personne, sauf pour :
                    <ul class="ListNostyleTaxationPart">
                        <li>Le petit jardinage à domicile : plafond limité à 5 000 €</li><br>
                        <li>L'assistance informatique et internet : plafond limité à 3 000 €</li><br>
                        <li>Le petit bricolage : plafond limité à 500 € (une intervention ne peut dépasser 2 heures).</li>
                    </ul>
                </p>
            </div>
            <div class="blocTariff taxationElementSix">
                <h4 class="needSpaceBelow">Déclaration fiscale</h4>
                <p>
                    Avec le prélèvement à la source, le crédit d’impôt continue d’être pris en compte dans le calcul de l’impôt sur le revenu. 
                    Il est calculé sur la base des dépenses que vous indiquez dans votre déclaration annuelle de revenus et versé avec 
                    une année de décalage en deux temps :
                </p>
                <ul class="ListNostyleTaxationPart">
                    <li>
                        Le versement dès le 15 janvier de l’année en cours d’un acompte équivalent 
                        à 60 % de votre crédit d’impôt acquis au titre de l’année précédente.
                    </li><br>
                    <li>
                        Le versement du solde à compter du mois de juillet de l’année en cours, après 
                        la déclaration de revenus qui permettra de déclarer le montant de vos dépenses 
                        effectuées l’année précédente ouvrant droit au crédit d'impôt.
                    </li>
                </ul>
            </div>
        </div>
        <div class="blocTariff taxationElementSeven">
            <h4 class="needSpaceBelow">Justificatifs à produire (sur demande du service des impôts)</h4>
            <p>
                L’entreprise prestataire de services à la personne doit vous communiquer avant le 
                31 mars de l’année N+1 une attestation fiscale annuelle, afin de vous permettre de 
                bénéficier de l’avantage fiscal (crédit d’impôt) au titre de l’année N. Cette attestation 
                vous servira aussi de justificatif à conserver en cas de contrôle fiscal.
            </p>
        </div>
    </div>
    <div class="sourceStyle">
        <h4>Source et information supplémentaire :</h4>
        <div>
            <a href="https://www.impots.gouv.fr/portail/particulier/emploi-domicile" target="_blank">
                <img class="imgTaxationTariff" src="/assets/images/stewardship/logoSAP.jpg">
            </a>
            <a href="https://www.servicesalapersonne.gouv.fr/" target="_blank">
                <img class="imgTaxationTariff" src="/assets/images/stewardship/emploi-gouv-france.jpg">
            </a>
        </div>
    </div>
</section>
<!--Formulaire de contact-->
    {% include 'home/_contact.html.twig' %}
{% endblock %}

{% block javascripts %}
<script src="/assets/js/services.js"></script>
{% endblock %}
