<h2 id="contact">Contact</h2>
{{ form_start(form, {'attr' : {'class' : 'contactForm'}}) }}
    {{ form_label(form.subject, 'Sujet :', {'attr' : {'class' : 'labelContact'}}) }}
    {{ form_widget(form.subject, {'attr' : {'class' : 'radioContact'}}) }}
    {{ form_label(form.firstName, 'Prénom : ', {'attr' : {'class' : 'labelContact'}} )}}
    {{ form_widget(form.firstName, {'attr' : {'class' : 'inputContact', 'placeholder' : 'votre prénom'}}) }}
    {{ form_label(form.lastName, 'Nom : ', {'attr' : {'class' : 'labelContact'}}) }}
    {{ form_widget(form.lastName, {'attr' : {'class' : 'inputContact', 'placeholder' : 'votre nom'}}) }}
    {{ form_label(form.phone, 'Téléphone : ', {'attr' : {'class' : 'labelContact'}}) }}
    {{ form_widget(form.phone, {'attr' : {'class' : 'inputContact', 'placeholder' : 'votre téléphone'}}) }}
    {{ form_label(form.email, 'Email : ', {'attr' : {'class' : 'labelContact'}}) }}
    {{ form_widget(form.email, {'attr' : {'class' : 'inputContact', 'placeholder' : 'votre email'}}) }}
    {{ form_label(form.message, 'Message : ', {'attr' : {'class' : 'labelContact'}}) }}
    {{ form_widget(form.message, {'attr' : {'class' : 'inputContact', 'placeholder' : 'votre message'}}) }}
    <input class="contactSubmit" type='submit' value='Envoyer'>
{{ form_end(form) }}