<h2 id="contact">Contact</h2>
<hr />
{{ form_start(form, {'attr' : {'class' : 'contactForm'}}) }}
    {{ form_label(form.subject, 'Sujet :') }}
    {{ form_widget(form.subject, {'attr' : {'class' : 'radioContact'}}) }}
    {{ form_label(form.firstName, 'Prénom : ') }}
    {{ form_widget(form.firstName, {'attr' : {'class' : 'inputContact', 'placeholder' : 'votre prénom'}}) }}
    {{ form_label(form.lastName, 'Nom : ') }}
    {{ form_widget(form.lastName, {'attr' : {'class' : 'inputContact', 'placeholder' : 'votre nom'}}) }}
    {{ form_label(form.phone, 'Téléphone : ') }}
    {{ form_widget(form.phone, {'attr' : {'class' : 'inputContact', 'placeholder' : 'votre téléphone'}}) }}
    {{ form_label(form.email, 'Email : ') }}
    {{ form_widget(form.email, {'attr' : {'class' : 'inputContact', 'placeholder' : 'votre email'}}) }}
    {{ form_label(form.message, 'Message : ') }}
    {{ form_widget(form.message, {'attr' : {'class' : 'inputContact message', 'placeholder' : 'votre message'}}) }}
    <input class="contactSubmit" type='submit' value='Envoyer'>
{{ form_end(form) }}