<h2 id="contact">Contact</h2>
{{ form_start(form) }}
{{ form_row(form.subject, {'label' : 'Sujet :'}) }}
{{ form_row(form.firstName, {'label' : 'Prénom : '}) }}
{{ form_row(form.lastName, {'label' : 'Nom : '}) }}
{{ form_row(form.phone, {'label' : 'Téléphone : '}) }}
{{ form_row(form.email, {'label' : 'Email : '}) }}
{{ form_row(form.message, {'label' : 'Message : '}) }}
<input type='submit' value='Envoyer'>
{{ form_end(form) }}