<section>
    <div class="conciergeriePresentation">
        <h2>Conciergerie</h2>
        <div class="pictogrammeConciergerie">
            <div>
                <img src="{{ asset('build/images/accueil_depart_voyageurs.c8595d3a.png') }}" alt="" width="42" heigth="42">
                <p>Accueil des voyageurs</p>
            <div>
            <div>
                <img src="{{ asset('build/images/assistance.4243a76f.png') }}" alt="" width="42" heigth="42">
                <p>Assistance des voyageurs</p>
            <div>
            <div>
                <img src="{{ asset('build/images/general.bde6a539.png') }}" alt="" width="42" heigth="42">
                <p>général</p>
            <div>
            <div>
                <img src="{{ asset('build/images/Linge.1117f0bb.png') }}" alt="" width="42" heigth="42">
                <p>Linge</p>
            <div>
            <div>
                <img src="{{ asset('build/images/menage.14eb5f40.png') }}" alt="" width="42" heigth="42">
                <p>Ménage</p>
            <div>
            <div>
                <img src="{{ asset('build/images/panierBienvenue.da6ac834.png') }}" alt="" width="42" heigth="42">
                <p>Panier de bienvenue</p>
            <div>
            <div>
                <img src="{{ asset('build/images/serviceIntendance.9f8f2107.png') }}" alt="" width="42" heigth="42">
                <p>service d'intendance</p>
            <div>
        </div>
        <div class="textConciergerie">
            <div class="moreInformationConciergerie">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
                <a href="">Plus d'info</a>
            </div>
        </div>
        <a href="">Contact</a>
    </div>
    <div class="intendancePresentation">
        <h2>Intendance</h2>
        <div class="pictogrammeIntendance">
            <div>
                <img src="{{ asset('build/images/assistanceIntendance.77984b2c.png') }}" alt="" width="42" heigth="42">
                <p>Assistance</p>
            <div>
            <div>
                <img src="{{ asset('build/images/course.4b32bc7e.png') }}" alt="" width="42" heigth="42">
                <p>Courses</p>
            <div>
            <div>
                <img src="{{ asset('build/images/picsine.7c430bda.png') }}" alt="" width="42" heigth="42">
                <p>Entretien picsine</p>
            <div>
            <div>
                <img src="{{ asset('build/images/jardin.02bdb2d7.png') }}" alt="" width="42" heigth="42">
                <p>Entretien jardin</p>
            <div>
            <div>
                <img src="{{ asset('build/images/entretienIntExt.959209cd.png') }}" alt="" width="42" heigth="42">
                <p>Entretien intérieur et Extérieur</p>
            <div>
            <div>
                <img src="{{ asset('build/images/generalInt.d7084d84.png') }}" alt="" width="42" heigth="42">
                <p>Général</p>
            <div>
            <div>
                <img src="{{ asset('build/images/miseRouteVeille.717824eb.png') }}" alt="" width="42" heigth="42">
                <p>Mise en route/veille</p>
            <div>
            <div>
                <img src="{{ asset('build/images/petitTravaux.2cc3cddf.png') }}" alt="" width="42" heigth="42">
                <p>Petits travaux</p>
            <div>
            <div>
                <img src="{{ asset('build/images/suiviTravaux.0aec5935.png') }}" alt="" width="42" heigth="42">
                <p>Suivi de travaux</p>
            <div>
            <div>
                <img src="{{ asset('build/images/surveillanceRegulier.4790130a.png') }}" alt="" width="42" heigth="42">
                <p>Surveillance régulière</p>
            <div>
        </div>
        <div class="textIntendance">
            <div class="moreInformationIntendance">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
                <a href="">Plus d'info</a>
            </div>
        </div>
        <a href="">Contact</a>
    </div>
</section>