<div class="adminPanel">
    <div class="add">
        <h3>Formulaire de modification de la partie "VALEURS"</h3>
        {{ form_start(valuesForm, {'attr' : {'class' : 'adminForm'}}) }}
            {{ form_label(valuesForm.text, 'Texte :') }}
            {{ form_widget(valuesForm.text) }}
            {{ form_label(valuesForm.pictureOne, 'Photo :') }}
            {{ form_widget(valuesForm.pictureOne) }}
            {{ form_label(valuesForm.legendPictureOne, 'Légende :') }}
            {{ form_widget(valuesForm.legendPictureOne) }}
            <button>Valider</button>
        {{ form_end(valuesForm) }}
        <a href="{{ path('home') }}#section-values">
            <input type="button" value="Retour">
        </a>
    </div>
</div>
