{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/mode-admin.css">
{% endblock %}
<div class="mode-admin">
    <h3>Formulaire de modification du carousel</h3>
    {{ form_start(form, {'attr' : {'class' : 'adminForm'}}) }}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
            <p class="error-upload-photo">{{ message }}</p>
            {% endfor %}
        {% endfor %}
        {{ form_label(form.title, 'Titre :') }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_help(form.title) }}
        {{ form_label(form.pictureOne, 'Photo n°1 :') }}
        {{ form_errors(form.pictureOne) }}
        {{ form_widget(form.pictureOne) }}
        {{ form_help(form.pictureOne) }}
        {{ form_label(form.legendPictureOne, 'Légende :') }}
        {{ form_errors(form.legendPictureOne) }}
        {{ form_widget(form.legendPictureOne) }}
        {{ form_help(form.legendPictureOne) }}
        {{ form_label(form.pictureTwo, 'Photo n°2 :') }}
        {{ form_errors(form.pictureTwo) }}
        {{ form_widget(form.pictureTwo) }}
        {{ form_help(form.pictureTwo) }}
        {{ form_label(form.legendPictureTwo, 'Légende :') }}
        {{ form_errors(form.legendPictureTwo) }}
        {{ form_widget(form.legendPictureTwo) }}
        {{ form_help(form.legendPictureTwo) }}
        {{ form_label(form.pictureThree, 'Photo n°3 :') }}
        {{ form_errors(form.pictureThree) }}
        {{ form_widget(form.pictureThree) }}
        {{ form_help(form.pictureThree) }}
        {{ form_label(form.legendPictureThree, 'Légende :') }}
        {{ form_errors(form.legendPictureThree) }}
        {{ form_widget(form.legendPictureThree) }}
        {{ form_help(form.legendPictureThree) }}
        <button>Valider</button>
    {{ form_end(form) }}
    <a href="{{ path('home') }}">
        <input type="button" value="Retour">
    </a>
</div>
{% endblock %}
