{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/mode-admin.css">
{% endblock %}
<div class="mode-admin">
    <h3>Formulaire de modification de la partie "Chiffres Clés"</h3>
    {{ form_start(form, {'attr' : {'class' : 'adminForm'}}) }}
        {% for label, messages in app.flashes %}
        {% for message in messages %}
        <p class="error-upload-photo">{{ message }}</p>
        {% endfor %}
        {% endfor %}
        {{form_errors(form)}}
        {{ form_label(form.title, 'Titre :') }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_help(form.title) }}
        {{ form_label(form.photo, 'Photo :') }}
        {{ form_errors(form.photo) }}
        {{ form_widget(form.photo) }}
        {{ form_help(form.photo) }}
        {{ form_label(form.text5, '1er chiffre :') }}
        {{ form_errors(form.text5) }}
        {{ form_widget(form.text5) }}
        {{ form_help(form.text5) }}
        {{ form_label(form.text1, '1er texte :') }}
        {{ form_errors(form.text1) }}
        {{ form_widget(form.text1) }}
        {{ form_help(form.text1) }}
        {{ form_label(form.text6, '2ème chiffre :') }}
        {{ form_errors(form.text6) }}
        {{ form_widget(form.text6) }}
        {{ form_help(form.text6) }}
        {{ form_label(form.text2, '2ème texte :') }}
        {{ form_errors(form.text2) }}
        {{ form_widget(form.text2) }}
        {{ form_help(form.text2) }}
        {{ form_label(form.text7, '3ème chiffre :') }}
        {{ form_errors(form.text7) }}
        {{ form_widget(form.text7) }}
        {{ form_help(form.text7) }}
        {{ form_label(form.text3, '3ème texte :') }}
        {{ form_errors(form.text3) }}
        {{ form_widget(form.text3) }}
        {{ form_help(form.text3) }}
        {{ form_label(form.text8, '4ème chiffre :') }}
        {{ form_errors(form.text8) }}
        {{ form_widget(form.text8) }}
        {{ form_help(form.text8) }}
        {{ form_label(form.text4, '4ème texte :') }}
        {{ form_errors(form.text4) }}
        {{ form_widget(form.text4) }}
        {{ form_help(form.text4) }}
        <button>Valider</button>
    {{ form_end(form) }}
    <a href="{{ path('home') }}#section-keys">
        <input type="button" value="Retour">
    </a>
</div>
