{% extends 'baseForm.html.twig' %}

{% block titleForm %}
    {% if type == 'purpose' %}
        Formulaire de modification de la partie <span>Valeurs</span>
    {% else %}
        Formulaire de modification de la partie <span>But</span>
    {% endif %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_label(form.text, 'Texte :') }}
        {{ form_errors(form.text) }}
        <p>Remarque: vous pouvez sauter une ou plusieurs lignes en tappant entrée</p>
        {{ form_widget(form.text) }}
        {{ form_help(form.text) }}
        <hr>
        {{ form_label(form.pictureOne, 'Photo :') }}
        {% if errorAddPicture is defined %}
            <li>{{errorAddPicture}}</li>
        {% endif %}
        {{ form_errors(form.pictureOne) }}
        {{ form_widget(form.pictureOne) }}
        {{ form_help(form.pictureOne) }}
        <hr>
        {{ form_label(form.legendPictureOne, 'Légende :') }}
        {{ form_errors(form.legendPictureOne) }}
        {{ form_widget(form.legendPictureOne) }}
        {{ form_help(form.legendPictureOne) }}
        <div class="buttons">
            {% if type == 'purpose' %}
                <a href="{{ path('home') }}#section-purpose"><input type="button" value="Retour"></a>
            {% else %}
                <a href="{{ path('home') }}#section-values"><input type="button" value="Retour"></a>
            {% endif %}
            <button>Valider</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
