{% extends 'baseForm.html.twig' %}

{% block titleForm %}
    Formulaire de modification du <span>Carousel</span>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_label(form.title, 'Titre :') }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_help(form.title) }}
        <hr>
        {{ form_label(form.pictureOne, 'Photo n°1 :') }}
        {% if errorAddPicture is defined %}
            <li>{{errorAddPicture}}</li>
        {% endif %}
        {{ form_errors(form.pictureOne) }}
        {{ form_widget(form.pictureOne) }}
        {{ form_help(form.pictureOne) }}
        {{ form_label(form.legendPictureOne, 'Légende :') }}
        {{ form_errors(form.legendPictureOne) }}
        {{ form_widget(form.legendPictureOne) }}
        {{ form_help(form.legendPictureOne) }}
        <hr>
        {{ form_label(form.pictureTwo, 'Photo n°2 :') }}
        {% if errorAddPicture is defined %}
            <li>{{errorAddPicture}}</li>
        {% endif %}
        {{ form_errors(form.pictureTwo) }}
        {{ form_widget(form.pictureTwo) }}
        {{ form_help(form.pictureTwo) }}
        {{ form_label(form.legendPictureTwo, 'Légende :') }}
        {{ form_errors(form.legendPictureTwo) }}
        {{ form_widget(form.legendPictureTwo) }}
        {{ form_help(form.legendPictureTwo) }}
        <hr>
        {{ form_label(form.pictureThree, 'Photo n°3 :') }}
        {% if errorAddPicture is defined %}
            <li>{{errorAddPicture}}</li>
        {% endif %}
        {{ form_errors(form.pictureThree) }}
        {{ form_widget(form.pictureThree) }}
        {{ form_help(form.pictureThree) }}
        {{ form_label(form.legendPictureThree, 'Légende :') }}
        {{ form_errors(form.legendPictureThree) }}
        {{ form_widget(form.legendPictureThree) }}
        {{ form_help(form.legendPictureThree) }}
        <div class="buttons">
            <a href="{{ path('home') }}"><input type="button" value="Retour"></a>
            <button>Valider</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
