{% extends 'base.html.twig' %}

{% block body %}
<div class="adminPanel">
    <h1>Formulaire de modification de la partie "Vision Wewelcome"</h1>
    {{ form_start(form, {'attr' : {'class' : 'adminForm'}}) }}
        {% for label, messages in app.flashes %}
        {% for message in messages %}
        <p class="error-upload-photo">{{ message }}</p>
        {% endfor %}
        {% endfor %}
        {{ form_label(form.title, 'Titre :') }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_help(form.title) }}
        {{ form_label(form.photo, 'Photo :') }}
        {{ form_errors(form.photo) }}
        {{ form_widget(form.photo) }}
        {{ form_help(form.photo) }}
        {{ form_label(form.text1, '1er texte :') }}
        {{ form_errors(form.text1) }}
        {{ form_widget(form.text1) }}
        {{ form_help(form.text1) }}
        {{ form_label(form.text2, '2ème texte :') }}
        {{ form_errors(form.text2) }}
        {{ form_widget(form.text2) }}
        {{ form_help(form.text2) }}
        {{ form_label(form.text3, '3ème texte :') }}
        {{ form_errors(form.text3) }}
        {{ form_widget(form.text3) }}
        {{ form_help(form.text3) }}
        {{ form_label(form.text4, '4ème texte :') }}
        {{ form_errors(form.text4) }}
        {{ form_widget(form.text4) }}
        {{ form_help(form.text4) }}
        <button>Valider</button>
    {{ form_end(form) }}
    <a href="{{ path('home') }}#section-vision">
        <input type="button" value="Retour">
    </a>
</div>
{% endblock %}