{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/indexStyle.css">
{% endblock %}

{% block title %}WeWelcome{% endblock %}

{% block body %}
    <section class="home">
        <div class="home-carousel">
            <img class="home-logo" src="/assets/images/WeWELCOME-Logo-RVB-1000px_modified.png" alt="Logo we welcome"/>
            <p class="home-text">« Conciergerie locative & Intendance pour maisons et appartements »</p>
            <figure>
                <img src="/assets/images/home-conciergerie.jpg" alt="photo de l'intérieur d'une maison"/>
                <img src="/assets/images/home-intendance.jpg" alt="photo de l'extérieur d'une maison"/>
                <img src="/assets/images/home-region.jpg" alt="photo de personnes faisant du vélo sur le bord de la loire"/>
                <img src="/assets/images/home-conciergerie.jpg" alt="photo de l'intérieur d'une maison"/>
            </figure>
        </div>
    </section>

    <section class="values section-except-home">
        <h2>Nos valeurs</h2>
        <p><span id="quotes">«</span> WeWelcome vous propose un partenariat fondé sur sa vision du service qui implique confiance, qualité, efficacité et proximité.<br>
        WeWelcome est une entreprise à taille humaine. Cette spécificité nous permet d'être à l'écoute de nos clients pour mieux les accompagner, pour maîtriser nos coûts et nos délais d'intervention. <span id="quotes">»</span></p>
    </section>

    <section class="service-vision section-except-home"
    style="background-image: url(/assets/images/hammock-425773_1920.jpg);">
        <h2>WeWelcome, la tranquilité assurée !</h2>
        <p id="service-vision-1">confiance</p>
        <p id="service-vision-2">qualité</p>
        <p id="service-vision-3">efficacité</p>
        <p id="service-vision-4">proximité</p>
    </section>

    <section class="purpose section-except-home">
        <h2>Notre but</h2>
        <p><span id="quotes">«</span> Vous êtes propriétaire et vous recherchez une personne de confiance, à qui confier en toute tranquillité la gestion locative de votre bien immobilier et/ou l’entretien de votre propriété ?
        WeWelcome est votre assistant dédié !<br>
        Nous sommes une agence implantée en Touraine qui propose des services de proximité à la carte, afin de vous simplifier la gestion et l’intendance de votre logement. <span id="quotes">»</span></p>
    </section>
    
    <section class="key-figures section-except-home"
    style="background-image: url(/assets/images/Indre-et-loire.png);">
        <h2>Implanté en Touraine</h2>
        <p id="key-figure-1">+50 <br><span>propriétaires déjà satisfaits</span></p>
        <p id="key-figure-2">+500 <br><span>voyageurs conquis</span></p>
        <p id="key-figure-3">+90% <br><span>de taux d'occupation</span></p>
        <p id="key-figure-4">Disponible 7j/7</p>
    </section>

    <section class="activities">
        <div class="conciergePresentation">
            <h2>Conciergerie</h2>
            <div class="pictogramConcierge">
                <figure>
                    <img src="/assets/images/accueil_depart_voyageurs.png" alt="Accueil des voyageurs">
                    <figcaption>Accueil des voyageurs</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/assistance.png" alt="Assistance des voyageurs">
                    <figcaption>Assistance des voyageurs</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/general.png" alt="général">
                    <figcaption>Général</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/Linge.png" alt="Linge">
                    <figcaption>Linge</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/menage.png" alt="Ménage">
                    <figcaption>Ménage</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/panierBienvenue.png" alt="Panier de bienvenue">
                    <figcaption>Panier de bienvenue</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/serviceIntendance.png" alt="service d'intendance">
                    <figcaption>Service d'intendance</figcaption>
                </figure>
            </div>
            <div class="textIntendance">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
                <div class="moreInfos">
                    <a href="">Plus d'infos</a>
                </div>
            </div>
            <div class="takeContact">
                <a href="">Prendre contact</a>
            </div>
        </div>
        <div class="stewardshipPresentation">
            <h2>Intendance</h2>
            <div class="pictogramStewardship">
                <figure>
                    <img src="/assets/images/assistanceIntendance.png" alt="Assistance">
                    <figcaption>Assistance</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/course.png" alt="Courses">
                    <figcaption>Courses</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/picsine.png" alt="Entretien picsine">
                    <figcaption>Entretien piscine</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/jardin.png" alt="Entretien jardin">
                    <figcaption>Entretien jardin</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/entretienIntExt.png" alt="Entretien intérieur et Extérieur">
                    <figcaption>Entretien intérieur et extérieur</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/generalInt.png" alt="Général">
                    <figcaption>Général</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/miseRouteVeille.png" alt="Mise en route/veille">
                    <figcaption>Mise en route/veille</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/petitTravaux.png" alt="Petits travaux">
                    <figcaption>Petits travaux</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/suiviTravaux.png" alt="Suivi de travaux">
                    <figcaption>Suivi de travaux</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/surveillanceRegulier.png" alt="Surveillance régulière">
                    <figcaption>Surveillance régulière</figcaption>
                </figure>
            </div>
            <div class="textStewardship">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
                <div class="moreInfos">
                    <a href="">Plus d'infos</a>
                </div>
            </div>
            <div class="takeContact">
                <a href="">Prendre contact</a>
            </div>
        </div>
    </section>

    <section class="partner">
        <h2>Partenaires</h2>
        <hr/>
        <div class="logoPartner">
            <!-- visible part -->
            <nav class="navPartnerVisibile">
                <a href=""><img src="/assets/images/partners/partenaireAbritel.png" alt="Abritel" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partners/partenaireAirbnb.jpg" alt="Airbnb" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partners/partenaireBooking.png" alt="Booking" class="imgPartner"></a>
            </nav>
            <!-- hidden part -->
            <nav class="navPartnerInvisible">
                <a href=""><img src="/assets/images/partners/partenaireFewo-direkt.png" alt="Fewo-direkt" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partners/partenaireGites.jpg" alt="Gites.fr" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partners/partenaireHomelidays.png" alt="Homelidays" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partners/partenaireODTMontlouisVouvray.png" alt="ODT Mont luis Vouvray" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partners/partenaireODTAmboiseVaLoire.jpg" alt="ODT Amboise Val de Loire" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partners/partenaireODTToursVaLoire.png" alt="ODT Tours Val de Loire" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partners/partenaireTouraineVaLoire.jpg" alt="Touraine Val de Loire" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partners/partenaireValLoireFrance.png" alt="Val de Loire France" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partners/partenaireVRBO.png" alt="VRBO" class = "imgPartner"></a>
                {% for partner in partners %}
                <a href="{{ partner.url }}" target="blank"><img src="/assets/images/partners/{{ partner.logo }}" class = "imgPartner" alt="{{ partner.name }}"></a>
                <form method="post" action="{{ path('partner_delete', {'id' : partner.id}) }}" onsubmit="return confirm('{{ partner.name }} sera supprimé définitivement. Êtes-vous sur ?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
                    <button class="btn">Effacer</button>
                </form>
                {% endfor %}
            </nav>
            <button id="allPartners">voir tous nos partenaires</button>
        </div>
        <!-- Add a new partner -->
        <div class="adminPanel">
            <div class="add">
            {{ form_start(partnerForm, {'attr' : {'class' : 'adminForm'}}) }}
                {{ form_label(partnerForm.name, 'Nom du partenaire :') }}
                {{ form_widget(partnerForm.name) }}
                {{ form_label(partnerForm.url, 'Lien vers le site :') }}
                {{ form_widget(partnerForm.url) }}
                {{ form_label(partnerForm.logo, 'Logo au format png ou jpeg :') }}
                {{ form_widget(partnerForm.logo) }}
                {{ form_label(partnerForm.type, 'Type :') }}
                {{ form_widget(partnerForm.type) }}
                <input type='submit' value='Ajouter'>
            {{ form_end(partnerForm) }}
            </div>
        </div>
    </section>

    <!--Formulaire de contact-->
    <section class="contact">
        {% include 'home/_contact.html.twig' %}
    </section>
{% endblock %}

{% block javascripts  %}
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/indexPartner.js"></script> 
{% endblock %}
