{% extends 'base.html.twig' %}

{% block title %}WeWelcome{% endblock %}

{% block body %}

<section class="home">
    <div class="home-carousel">
        <img class="home-logo" src="{{ asset('build/images/WeWELCOME-Logo-RVB-1000px_modified.2c461d1a.png') }}" alt=""/>
        <p class="home-text">« Conciergerie locative & Intendance pour maisons et appartements »</p>
        <figure>
            <img src="{{ asset('build/images/home-conciergerie.8d9d3afc.jpg') }}" alt=""/>
            <img src="{{ asset('build/images/home-intendance.a5b0927b.jpg') }}" alt=""/>
            <img src="{{ asset('build/images/home-region.b7f807cd.jpg') }}" alt=""/>
            <img src="{{ asset('build/images/home-conciergerie.8d9d3afc.jpg') }}" alt=""/>
        </figure>
    </div>
</section>

<section class="purpose-and-values">
    <h2>But et valeurs</h2>
    <div>
        <h3>A quel besoin répond l’entreprise</h3>
        <p>« Vous êtes propriétaire et vous recherchez une personne de confiance, à qui confier en toute tranquillité la gestion locative de votre bien immobilier et/ou l’entretien de votre propriété ?
        wewelcome est votre assistant dédié !</p>
        <p>Nous sommes une agence implantée en Touraine qui propose des services de proximité à la carte, afin de vous simplifier la gestion et l’intendance de votre logement. »</p>
    </div>
    <div>
        <h3>Nos valeurs</h3>
        <p>« wewelcome vous propose un partenariat fondé sur sa vision du service qui implique confiance, qualité, efficacité et proximité.</p>
        <p>wewelcome est une entreprise à taille humaine. Cette spécificité nous permet d'être à l'écoute de nos clients pour mieux les accompagner, pour maîtriser nos coûts et nos délais d'intervention. »</p>
    </div>
    <div class="container-key-figures">
        <p>+50<br><span>clients</span></p>
        <p>+45<br><span>conciergeries</span></p>
        <p>90%<br><span>taux d'occupation</span></p>
    </div>
</section>

{% endblock %}
