{% extends 'baseForm.html.twig' %}

{% block titleForm %}
    Formulaire de modification des <span>Tarifs</span>
{% endblock %}

{% block body %}
    {{ form_start(pricesForm, {'attr' : {'class' : 'adminForm'}}) }}
        {{ form_label(pricesForm.title, 'Titre :') }}
        {{ form_widget(pricesForm.title) }}
        {{ form_label(pricesForm.text, 'Texte :') }}
        <p>Remarque: vous pouvez sauter une ou plusieurs lignes en tappant entrée</p>
        {{ form_widget(pricesForm.text) }}
        <div class="buttons">
            <a href="{{ path('concierge') }}#section-tarifs"><input type="button" value="Retour"></a>
            <button>Valider</button>
        </div>
    {{ form_end(pricesForm) }}
{% endblock %}
