{{ form_start(serviceForm) }}
    {{ form_label(serviceForm.logoFile, 'Logo : ') }}
    {{ form_widget(serviceForm.logoFile) }}
    {{ form_label(serviceForm.title, 'Titre :') }}
    {{ form_widget(serviceForm.title) }}
    {{ form_label(serviceForm.photoFile, 'Photo :') }}
    {{ form_widget(serviceForm.photoFile) }}
    {{ form_label(serviceForm.description, 'Description :') }}
    <p>Remarque: vous pouvez sauter une ou plusieurs lignes en tappant entrée</p>
    {{ form_widget(serviceForm.description) }}
    <div class="buttons">
        <button>Valider</button>
    </div>
{{ form_end(serviceForm) }}
