{% if contactInfo %}
<p>{{ contactInfo.text }}</p>
<label for="telephone" id="label-telephone">Cliquer pour voir le numéro de téléphone</label>
<input type="checkbox" id="telephone">
<a id="numero" for="telephone" href="tel:">0{{ contactInfo.phone }}</a>
    {% if app.user %}
    <button class="update"><a href="{{ path('footer_edit', {'id': contactInfo.id }) }}">Modifier</a></button>
    <form method="post" action="{{ path('footer_delete', {'id' : contactInfo.id}) }}" onsubmit="return confirm('Les informations de contact seront remises par défault. Êtes-vous sur ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contactInfo.id) }}">
        <button class="btn">Défault</button>
    </form>
    {% endif %}
{% else %}
    <p>Alexandre Delalandes</p>
    <label for="telephone" id="label-telephone">Cliquer pour voir le numéro de téléphone</label>
    <input type="checkbox" id="telephone">
    <a id="numero" for="telephone" href="tel:">06 63 64 62 20</a>
    <button><a href="{{ path('footer_add') }}">Modifier</a></button>
{% endif %}