{% extends 'baseForm.html.twig' %}

{% block titleForm %}
    Formulaire de modification des <span>Coordonnées</span>
{% endblock %}

{% block body %}
    {{ form_start(footerForm) }}
        {{ form_label(footerForm.text, 'Nom :') }}
        {{ form_widget(footerForm.text) }}
        {{ form_label(footerForm.phone, 'Téléphone :') }}
        {{ form_widget(footerForm.phone) }}
        {{ form_row(footerForm._token) }}
        <div class="buttons">
            <a href="{{ path('home') }}#footer"><input type="button" value="Retour"></a>
            <button>Modifier</button>
        </div>
    {{ form_end(footerForm, {'render_rest': false}) }}
{% endblock %}
