{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/housingStyle.css">
{% endblock %}

{% block body %}

    <h2 class="h2housing">Logements</h2>
    <hr class="hrTitleHousing">
    <section class="theyTrustUsWithTitle">
        <h3>Ils nous font confiance</h3>
        <div class="theyTrustUs">
            {% for house in houses %}
            <div>
                <a href="#lightbox{{house.id}}"><img src="assets/images/housing/{{ house.photo }}" alt=""></a>
                <a href="#_" class="lightbox" id="lightbox{{house.id}}"><img id="lightboxImage" src="assets/images/housing/{{ house.photo }}" alt=""></a>
                <p>{{ house.description }}</p>
                <a class="housingLink" href="{{ house.url }}" target="blank">Voir l'annonce</a>
                {% if app.user %}
                <button class="update"><a href="{{ path('housing_edit', {'id': house.id }) }}">Modifier</a></button>
                <form method="post" action="{{ path('housing_delete', {'id' : house.id}) }}" onsubmit="return confirm('Ce logement sera supprimé définitivement. Êtes-vous sur ?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ house.id) }}">
                    <input type="submit" value="Effacer">
                </form>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% if app.user %}
        <div class="adminPanel">
            <div class="add">
            {{ include('housing/_form.html.twig', {'button_label': 'Ajouter'}) }}
            </div>
        </div>
        {% endif %}
    </section>
    <section class="businessTripsWithTitle">
        <h3>Voyages d'affaires</h3>
        {% if businessTrip %}
        <div class="businessTrips">
            <img src="assets/images/housing/{{ businessTrip.photo }}">
            <p>{{ businessTrip.description }}</p>
        </div>
            {% if app.user %}
            <button class="update"><a href="{{ path('business_trip_edit', {'id': businessTrip.id }) }}">Modifier</a></button>
            {% endif %}
        {% else %}
            {% if app.user %}
            <div class="adminPanel">
                <div class="add">
                {{ include('housing/_formBusiness.html.twig', {'button_label': 'Ajouter un voyage d\'affaire'}) }}
                </div>
            </div>
            {% endif %}
        {% endif %}
    </section>
   
{% include "/home/_contact.html.twig" %}
{% endblock %}