{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/housingStyle.css">
{% endblock %}



{% block body %}

    <h2 class="h2housing">Logement</h2>
    <hr class="hrTitleHousing">

    <section class="theyTrustUsWithTitle">
        <h3>Ils nous font confiance</h3>
        <div class="theyTrustUs">
            <div>
                <img src="assets/images/home-conciergerie.jpg" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, fuga enim. Molestiae magni, necessitatibus a error placeat porro officia nobis velit sint obcaecati praesentium distinctio beatae consequuntur eveniet nesciunt sunt recusandae esse commodi, ratione ipsum eum dolorum culpa. Nemo soluta non quidem atque neque ducimus ad esse alias voluptas ratione!</p>
            </div>
            <div>
                <img src="assets/images/home-conciergerie.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt suscipit asperiores ipsam hic nemo vel quia necessitatibus temporibus. Ab, explicabo distinctio ratione aspernatur soluta, repellat necessitatibus iste assumenda nobis deleniti id quaerat similique aut asperiores nemo autem praesentium, officiis dicta? Illo molestias, iure placeat corporis nemo rerum et eos nam?</p>
            </div>
            <div>
                <img src="assets/images/home-conciergerie.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt suscipit asperiores ipsam hic nemo vel quia necessitatibus temporibus. Ab, explicabo distinctio ratione aspernatur soluta, repellat necessitatibus iste assumenda nobis deleniti id quaerat similique aut asperiores nemo autem praesentium, officiis dicta? Illo molestias, iure placeat corporis nemo rerum et eos nam?</p>
            </div>
            {% for house in houses %}
            <div>
                <a href="{{ house.url }}" target="blank">
                    <img src="assets/images/housing/{{ house.photo }}" alt="">
                </a>
                <p>{{ house.description }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="adminPanel">
            <div class="add">
            {{ form_start(housingForm, {'attr' : {'class' : 'adminForm'}}) }}
                {{ form_label(housingForm.photo, 'Photo :') }}
                {{ form_widget(housingForm.photo) }}
                {{ form_label(housingForm.url, 'Lien vers l\'annonce :') }}
                {{ form_widget(housingForm.url) }}
                {{ form_label(housingForm.description, 'Description :') }}
                {{ form_widget(housingForm.description) }}
                <input type='submit' value='Ajouter'>
            {{ form_end(housingForm) }}
            </div>
        </div>
    </section>

    <section class="businessTripsWithTitle">
        <h3>Voyages d'affaires</h3>
        <div class="businessTrips">
            <div>
                <img src="assets/images/home-conciergerie.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt suscipit asperiores ipsam hic nemo vel quia necessitatibus temporibus. Ab, explicabo distinctio ratione aspernatur soluta, repellat necessitatibus iste assumenda nobis deleniti id quaerat similique aut asperiores nemo autem praesentium, officiis dicta? Illo molestias, iure placeat corporis nemo rerum et eos nam?</p>
            </div>
            <div>
                <img src="assets/images/home-conciergerie.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt suscipit asperiores ipsam hic nemo vel quia necessitatibus temporibus. Ab, explicabo distinctio ratione aspernatur soluta, repellat necessitatibus iste assumenda nobis deleniti id quaerat similique aut asperiores nemo autem praesentium, officiis dicta? Illo molestias, iure placeat corporis nemo rerum et eos nam?</p>
            </div>
            <div>
                <img src="assets/images/home-conciergerie.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt suscipit asperiores ipsam hic nemo vel quia necessitatibus temporibus. Ab, explicabo distinctio ratione aspernatur soluta, repellat necessitatibus iste assumenda nobis deleniti id quaerat similique aut asperiores nemo autem praesentium, officiis dicta? Illo molestias, iure placeat corporis nemo rerum et eos nam?</p>
            </div>
        </div>
    </section>
   
{% include "/home/_contact.html.twig" %}
{% endblock %}