<ul>
    <li>Sujet : {{ message.subject }}</li>
    <li>Prénom : {{ message.firstName }}</li>
    <li>Nom : {{ message.lastName }}</li>
    <li>Téléphone : {{ message.phone }}</li>
    <li>Email : {{ message.email }}</li>
    <li>Message : {{ message.message }}</li>
</ul>