<div>
    {% for socialNetwork in socialNetworks %}
    <div id="socialNetwork">
        <a href="{{ socialNetwork.url }}">
            <img class="socialNetworkLogo" src="/assets/images/socialNetworks/{{ socialNetwork.logo }}" alt="Logo {{ socialNetwork.title }}">
        </a>
    </div>
    {% endfor %}
</div>
{% if app.user and socialNetworks|length < 3 %}
<div class="adminPanel socialNetworksAdmin">
    <div class="add">
    {{ form_start(socialNetworkForm, {'attr' : {'class' : 'adminForm'}}) }}
        {{ form_label(socialNetworkForm.title, 'Nom du réseau social :') }}
        {{ form_widget(socialNetworkForm.title) }}
        {{ form_label(socialNetworkForm.url, 'Lien vers le site :') }}
        {{ form_widget(socialNetworkForm.url) }}
        {{ form_label(socialNetworkForm.logoFile, 'Logo au format png ou jpeg :') }}
        {{ form_widget(socialNetworkForm.logoFile) }}
        {{ form_row(socialNetworkForm._token) }}
        <input type='submit' value='Ajouter'>
    {{ form_end(socialNetworkForm, {'render_rest': false}) }}
    </div>
</div>
{% endif %}
