<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/assets/images/logo-wewelcome-24px-color.png" />
    <title>{% block title %}WeWelcome{% endblock %}</title>
    <link rel="stylesheet" href="/assets/styles/baseStyle.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <section class="navBar">
        <a id="topLogo" href="{{ path('home') }}">
            <img src="/assets/images/logo-wewelcome-color.png" alt="wewelcomeLogo">
        </a>
        <nav>
            <a class="navLink" href="{{ path('concierge') }}">Conciergerie</a>
            <a class="navLink" href="{{ path('steward') }}">Intendance</a>
            <a class="navLink" href="{{ path('housing') }}">Logement</a>
            <a class="navLink" href="#contact">Contact</a>
            <a class="navLink" href="">English</a>
            {% if app.user %}
            <p>ADMIN PANEL</p>
            {% endif %}
        </nav>
    </section>
    {% block body %}
    {% endblock %}
    <footer>
        <button id="returnTop">Top</button>
        <address class="footerLeft">
            <p>Alexandre DELALANDES</p>
            <label for="telephone" id="label-telephone">Cliquer pour voir le numéro de téléphone</label>
            <input type="checkbox" id="telephone">
            <a id="numero" for="telephone" href="tel:">06 63 64 62 20</a>
        </address>
        <nav class="socialNetwork">
            <a href="https://www.facebook.com/wewelcome.fr">
                <img class="socialNetworkLogo" src="/assets/images/social-networks/logo-facebook-white.png" alt="Logo Facebook">
            </a>
            <a href="https://www.linkedin.com/in/alexandre-delalandes/?originalSubdomain=fr">
                <img class="socialNetworkLogo" src="/assets/images/social-networks/logo-linkedin-white.png" alt="Logo LinkdIn">
            </a>
            <a href="">
                <img class="socialNetworkLogo" src="/assets/images/social-networks/logo-instagram-white.png" alt="Logo Instagram">
            </a>
        </nav>
        <nav class="footerRight">
            <a href="{{ path('work_with_us') }}">Nous rejoindre</a>
            <a href="">Plan du site</a>
            <a href="">Mentions légales</a>
            <a href="">CGU</a>
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}">Admin panel</a>
            {% endif %}
        </nav>
    </footer>
    <script src="/assets/js/base.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
