<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/images/logo-wewelcome-24px-color.png" />
    <title>{% block title %}WeWelcome{% endblock %}</title>
    <link rel="stylesheet" href="/assets/styles/baseStyle.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <section class="navBar">
        <a id="topLogo" href="{{ path('home') }}">
            <img src="/assets/images/logo-wewelcome-color.png" alt="wewelcomeLogo">
        </a>
        <div class="openButton">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <nav class="sideNav">
            <a href="javascript:void(0)" class="closeButton">&times;</a>
            <ul class="nav">
                <li class="navLink"><a class="link" href="{{ path('concierge') }}">Conciergerie</a></li>
                <li class="navLink"><a class="link" href="{{ path('steward') }}">Intendance</a></li>
                <li class="navLink"><a class="link" href="{{ path('housing') }}">Logements</a></li>
                <li class="navLink"><a class="link" href="#contact">Contact</a></li>
            </ul>
        </nav>
        {% if app.user %}
            <div id="adminLogged">
                <p>Espace Administration</p>
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}
    </section>
    {% block body %}
    {% endblock %}
    <footer>
        <button id="returnTop">^</button>
        <address class="footerLeft">
            {{ render(controller('App\\Controller\\FooterController::getContactInfo')) }}
        </address>
        <nav class="socialNetwork">
            {{ render(controller('App\\Controller\\FooterController::getSocialNetworks')) }}
        </nav>
        <nav class="footerRight">
            <a href="{{ path('work_with_us') }}">Nous rejoindre</a>
            <a href="{{ path('cgu') }}">CGU</a>
            <a href="{{ path('legal-notice') }}">Mentions légales</a>
        </nav>
    </footer>
    <script src="/assets/js/base.js"></script>
    <script src="/assets/js/burgerMenu.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
